{% extends 'base.html' %}

{% block title %}
{{ user_info["username"] }}
{% endblock %}

{% block main_content %}
<h1>{{ user_info["username"] }}</h1>
<p>joined on {{ user_info["date_created"] }}</p>

{% if g.user == user_info["username"] %}
<form action="{{ url_for('user.edit_profile') }}" method="POST" novalidate>
    <input type="hidden" name="username" value="{{ user_info['username'] }}" />
    <input type="submit" value="Edit Profile" />
</form>
{% endif %}

{% if user_info["profile_image"] %}
<img src="{{ url_for('static', filename='uploads/' + user_info['profile_image']) }}" alt="profile image" />
{% else %}
<img src="{{ url_for('static', filename='default.png') }}" alt="profile image" />
{% endif %}

<h2>About</h2>
{% if user_info["about"] %}
<p>{{ user_info["about"] }}</p>
{% else %}
<p>User has not written anything here!</p>
{% endif %}


<a href="{{ url_for('user.user_threads', username=user_info['username']) }}">Threads</a>
<a href="{{ url_for('user.user_comments', username=user_info['username']) }}">Comments</a>

{% block user_threads %}
{% endblock %}

{% block user_comments %}
{% endblock %}

{% endblock %}