<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">
            <p>
                Home
            </p>
        </a>

        <a href="{{ url_for('post_thread') }}">
            <p>
                Create new thread
            </p>
        </a>

        {% if g.user %}
            <a href="{{ url_for('logout') }}">
                <p>
                    Log Out
                </p>
            </a>
        {% else %}
            <a href="{{ url_for('login') }}">
                <p>
                    Log In
                </p>
            </a>

            <a href="{{ url_for('register') }}">
                <p>
                    Register
                </p>
            </a>
        {% endif %}

        {% if g.is_admin %}
        <a href="{{ url_for('user_list') }}">
            <p>
                User List
            </p>
        </a>
        {% endif %}
    </nav>

    {% block main_content %}
    {% endblock %}
</body>
</html>