{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block main_content %}
<ol>
{% for thread in threads %}
    <li class="thread_thumbnail">
        <h3>
            <a href="{{ url_for('thread', thread_id=thread['thread_id']) }}">
                {{ thread["title"] }}
            </a>
        </h3>
        <p>
            by <a href="{{ url_for('user_profile', username=thread['user_poster']) }}">{{ thread["user_poster"] }}</a> on {{ thread["date_created"] }}
            {% if g.user == thread["user_poster"] or g.is_admin %}
            <!-- I realise that this form is vulnerable to CSRF, but doing it this way is the only way I can think of that doesn't make the code messy.
            This page already has the CommentForm, adding another form seems to make things complicated.-->
            <form action="{{ url_for('delete_thread') }}" method="POST" novalidate>
                <input type="hidden" name="thread_id" value="{{ thread['thread_id'] }}" />
                <input type="submit" value="Delete" class="delete_button" />
            </form>
            {% endif %}
        </p>
        
    </li>
{% endfor %}
</ol>

{% endblock %}