{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block main_content %}
<h1>Home Page</h1>

<a href="{{ url_for('post_thread') }}">
    <p>
        Post new thread.
    </p>
</a>

<a href="{{ url_for('login') }}">
    <p>
        Log In
    </p>
</a>

{% for thread in threads %}
    <h2>
        <a href="{{ url_for('thread', thread_id=thread) }}">
            {{ threads[thread]["title"] }}
        </a>
    </h2>
    <p>{{ threads[thread]["date"] }}</p>
{% endfor %}

{% endblock %}