{% extends 'base.html' %}

{% block title %}
{{ thread["title"] }}
{% endblock %}

{% block main_content %}

<h2>{{ thread["title"] }}</h2>
<p>{{ thread["date_created"] }}, {{ thread["user_poster"] }}</p>
<p>{{ thread["body"] }}</p>


<h3>Comments</h3>
{% for comment in comments %}
<p>{{ comment["date_created"] }}, {{ comment["username"] }}</p>
<p>{{ comment["body"] }}</p>
{% endfor %}

{% if g.user %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        {{ form.body() }}
        {% for error in form.body.errors %}
            {{ error }}
        {% endfor %}
        <br/>
        {{ form.submit() }}
    </form>
{% else %}
    <p>You must be logged in to post comments.</p>
{% endif %}

{% endblock %}