{% extends 'base.html' %}

{% block title %}
{{ thread["title"] }}
{% endblock %}

{% block main_content %}

<h2>{{ thread["title"] }}</h2>
<p>{{ thread["date_created"] }}, <a href="{{ url_for('user_profile', username=thread['user_poster']) }}">{{ thread["user_poster"] }}</a></p>
<p>{{ thread["body"] }}</p>


<h3>Comments</h3>
{% for comment in comments %}
    <p>{{ comment["date_created"] }}, <a href="{{ url_for('user_profile', username=comment['username']) }}">{{ comment["username"] }}</a></p>
    <p>{{ comment["body"] }}</p>
    {% if g.user == comment["username"] or g.is_admin %}
        <!-- I realise that this form is vulnerable to CSRF, but doing it this way is the only way I can think of that doesn't make the code messy.
        This page already has the CommentForm, adding another form seems to make things complicated.-->
        <form action="{{ url_for('delete_comment') }}" method="POST" novalidate>
            <input type="hidden" name="comment_id" value="{{ comment['comment_id'] }}" />
            <input type="hidden" name="thread_id" value="{{ thread['thread_id'] }}" />
            <input type="submit" value="Delete" />
        </form>
    {% endif %}
{% endfor %}

{% if g.user %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        {{ form.body() }}
        {% for error in form.body.errors %}
            {{ error }}
        {% endfor %}
        <br/>
        {{ form.submit() }}
    </form>
{% else %}
    <p>You must be logged in to post comments.</p>
{% endif %}

{% endblock %}