{% extends 'base.html' %}

{% block title %}
User List
{% endblock %}

{% block main_content %}
<h1>User List</h1>

<ul>
{% for user in user_list %}
    {% set username = user["username"] %}
    <li>
        <a href="{{ url_for('user_profile', username=username) }}">{{ username }}</a>
        <form action="{{ url_for('delete_user') }}" method="POST" novalidate>
            <input type="hidden" name="username" value="{{ username }}" />
            <input type="submit" value="Delete" class="delete_button" />
        </form>
    </li>
{% endfor %}
</ul>

{% endblock %}