{% extends 'base.html' %}

{% block title %}
{{ username }}
{% endblock %}

{% block main_content %}
<h1>{{ user_info["username"] }}</h1>
<p>joined on {{ user_info["date_created"] }}</p>

<form action="{{ url_for('edit_profile') }}" method="POST" novalidate>
    <input type="hidden" name="username" value="{{ user_info['username'] }}" />
    <input type="submit" value="Edit Profile" />
</form>

{% if user_info["profile_image"] %}
<p>{{ user_info["profile_image"] }}</p>
{% else %}
<p>User has no profile image!</p>
{% endif %}

<h2>About</h2>
{% if user_info["about"] %}
<p>{{ user_info["about"] }}</p>
{% else %}
<p>User has not written anything here!</p>
{% endif %}


<a href="{{ url_for('user_threads', username=username) }}">Threads</a>
<a href="{{ url_for('user_comments', username=username) }}">Comments</a>

{% endblock %}